    /*
    Flaticon icon font: Flaticon
    Creation date: 31/08/2016 15:59
    */

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts//Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts//Flaticon.woff") format("woff"),
       url("fonts//Flaticon.ttf") format("truetype"),
       url("fonts//Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts//Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-balance:before { content: "\f100"; }
.flaticon-buck:before { content: "\f101"; }
.flaticon-cardio:before { content: "\f102"; }
.flaticon-cardio-1:before { content: "\f103"; }
.flaticon-centimeter:before { content: "\f104"; }
.flaticon-chest:before { content: "\f105"; }
.flaticon-chest-1:before { content: "\f106"; }
.flaticon-chest-2:before { content: "\f107"; }
.flaticon-clothes:before { content: "\f108"; }
.flaticon-clothes-1:before { content: "\f109"; }
.flaticon-dumbbell:before { content: "\f10a"; }
.flaticon-dumbbell-1:before { content: "\f10b"; }
.flaticon-exercise-bands:before { content: "\f10c"; }
.flaticon-fitness:before { content: "\f10d"; }
.flaticon-gloves:before { content: "\f10e"; }
.flaticon-hand-grip:before { content: "\f10f"; }
.flaticon-headgear:before { content: "\f110"; }
.flaticon-jump-rope:before { content: "\f111"; }
.flaticon-kettlebells:before { content: "\f112"; }
.flaticon-leg:before { content: "\f113"; }
.flaticon-medicine-ball:before { content: "\f114"; }
.flaticon-pills:before { content: "\f115"; }
.flaticon-pills-1:before { content: "\f116"; }
.flaticon-punching-bag:before { content: "\f117"; }
.flaticon-punching-ball:before { content: "\f118"; }
.flaticon-rings:before { content: "\f119"; }
.flaticon-scale:before { content: "\f11a"; }
.flaticon-step:before { content: "\f11b"; }
.flaticon-stopwatch:before { content: "\f11c"; }
.flaticon-supplies:before { content: "\f11d"; }
.flaticon-trellis:before { content: "\f11e"; }
.flaticon-watch:before { content: "\f11f"; }
.flaticon-water-bottle:before { content: "\f120"; }
.flaticon-weight:before { content: "\f121"; }
.flaticon-weight-1:before { content: "\f122"; }
.flaticon-weights:before { content: "\f123"; }
.flaticon-weights-1:before { content: "\f124"; }
.flaticon-wheel:before { content: "\f125"; }
.flaticon-wheight-bar:before { content: "\f126"; }
.flaticon-whistle:before { content: "\f127"; }