
@{
    ViewBag.Title = "Advice";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="container">
    <div class="row justify-content-center mt-5 pt-5">
        <div class="col-md-8">
            <h2 class="display-4 text-center">Thank you. We value your contribution and advice.</h2>
            @Html.ActionLink("Add another Nutrition Post", "NutritionBlog", "Nutrition", null, new { @class = "btn btn-success btn-lg btn-block my-5" })
        </div>
    </div>
    <div class="row my-5 "></div>
</div>