@using CA_Gym.Models
@model IEnumerable<Nutrition>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<header id="page-header-nutrtion">

    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Read Our Nutrition Blog</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum aliquid, provident nam aliquam voluptatibus?</p>

            </div>
        </div>
    </div>
</header>

<!--Blog Section-->
<section id="blog" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    <div class="card">
                        <img src="~/Content/Images/nutrition2.jpeg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                               The Awesome Power Of Fruit
                            </h4>
                            <small class="text-muted">
                                Written by Tom on 07/12
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>
                    
                 
                    <div class="card">
                        <img src="~/Content/Images/nutrition3.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                Shake Up Your Stir Fry
                            </h4>
                            <small class="text-muted">
                                Written by Sarah on 04/08
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>

                    <div class="card p-3">
                        <blockquote class="card-body card-blockquote">
                            <p>Remember, your body keeps an accurate journal regardless of what you write down!</p>
                            <footer>
                                <small class="text-muted">
                                    Unknown,<cite title="Source Title">Online</cite>
                                </small>
                            </footer>
                        </blockquote>

                    </div>


                    <div class="card card-danger card-inverse p-3">
                        <blockquote class="card-body card-blockquote">
                            <p> Our food should be our medicine, Our medicine should be our food.</p>
                            <footer>
                                <small>
                                    Hippocrates in <cite title="Source Title">Ancient Greek Text</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>

                    <div class="card">
                        <img src="~/Content/Images/nutrition4.jpeg" alt="" class="card-img img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                An Easy Way To Get Your Veggies In!
                            </h4>
                            <small class="text-muted">
                                Written by Jane on 04/09
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="~/Content/Images/nutrition5.jpeg" alt="" class="card-img img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                Check Out This Tasty Fish Dish!
                            </h4>
                            <small class="text-muted">
                                Written by Jane on 04/09
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="~/Content/Images/nutrition6.jpeg" alt="" class="card-img img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                A Yummy and Healthy Breakfast.
                            </h4>
                            <small class="text-muted">
                                Written by Jane on 04/09
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>

                    @foreach (Nutrition n in Model)
                    {
                        <div class="card card-danger card-inverse p-3">
                            <blockquote class="card-body card-blockquote">
                                <p> @n.Advice</p>
                                <footer>
                                    <small>
                                        @n.Name in <cite title="Source Title">Member Advice</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                    }
                    



                </div>
            </div>
        </div>
    </div>
</section>


