
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section id="gallery" class="py-5">
    
    <div class="container">
        <div class="text-center">
            <h1 class="text-center pt-0">Our Trainers</h1>
            <p class="text-center">Personal trainers can help produce a training plan built around your abilities and timeframe. They can help with motivation and nutrition.</p>
            <button class="btn btn-primary mb-4">Book Now</button>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-4 mb-4"> 
                <a href="http://lorempixel.com/545/545/portrait/1" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/400/400/business/1" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://lorempixel.com/545/545/business/2" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/400/400/business/2" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://lorempixel.com/545/545/business/2" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/400/400/business/3" class="img-fluid" alt="">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="http://lorempixel.com/545/545/business/4" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/400/400/business/4" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://lorempixel.com/545/545/business/5" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/400/400/business/5" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://lorempixel.com/545/545/business/6" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/400/400/business/6" class="img-fluid" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

