
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1>Word Class Gym Equipment</h1>
                    <p class="hidden-sm-down">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae temporibus ipsa eaque facilis ullam quaerat hic at vel nisi voluptates quos, doloremque totam culpa autem facere a quisquam in aperiam!</p>
                    @Html.ActionLink("Sign Up Now!", "MemberType", "User", null, new { @class = "btn btn-danger btn-lg" })
                </div>
            </div>
        </div>
    </div>
</section>

<section id="icon-boxes" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/facilities7.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Cardio</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/facilities3.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Free Weights</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/facilities9.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Static Machines</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/facilities8.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Weight Racks</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/facilities6.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Functional Areas</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/facilities5.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Spinning Rooms</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>