@model CA_Gym.Models.Class
@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 offset-md-3">
            <p>I am a class :)</p>
        </div>
    </div>

</div>

