
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<header id="page-header">

    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Get Our Fitness Tips Below</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum aliquid, provident nam aliquam voluptatibus?</p>

            </div>
        </div>
    </div>
</header>

<!--Blog Section-->
<section id="blog" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    <div class="card">
                        <img src="~/Content/Images/exercise1.jpeg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                The Hidden Benefits Of Cardio!
                            </h4>
                            <small class="text-muted">
                                Written by Frank on 07/10
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>
                    <div class="card p-3">
                        <blockquote class="card-block card-blockquote">
                            <p> I hated every minute of training, but I said, 'Don't quit. Suffer now and live the rest of your life as a champion.'
                            <footer>
                                <small class="text-muted">
                                    Muhammad Ali in <cite title="Source Title">Unknown</cite>
                                </small>
                            </footer>
                        </blockquote>

                    </div>

                    <div class="card">
                        <img src="~/Content/Images/exercise2.jpeg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                Compound Movements
                            </h4>
                            <small class="text-muted">
                                Written by Sarah on 07/12
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>

                    <div class="card card-danger card-inverse p-3">
                        <blockquote class="card-block card-blockquote">
                            <p> Excellence is an art won by training and habituation. We do not act rightly because we have virtue or excellence, but we rather have those because we have acted rightly. We are what we repeatedly do. Excellence, then, is not an act but a habit.</p>
                            <footer>
                                <small>
                                    Aristotle in <cite title="Source Title">Unknown</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>

                    <div class="card">
                        <img src="~/Content/Images/exercise3.jpeg" alt="" class="card-img img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                Your Core Is Your Engine!
                            </h4>
                            <small class="text-muted">
                                Written by John on 09/12
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>
                    <div class="card p-3 text-right">
                        <blockquote class="card-block card-blockquote">
                            <p> You are your greatest asset. Put your time, effort and money into training, grooming, and encouraging your greatest asset.</p>
                            <footer>
                                <small class="text-muted">
                                    Tom Hopkins in <cite title="Source Title">Unknown</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                    
                    <div class="card p-3 text-right">
                        <blockquote class="card-block card-blockquote">
                            <p> I train and I go home, and when I'm home, I think about training. That's my life every day, and that's it.</p>
                            <footer>
                                <small class="text-muted">
                                    Conor McGregor in <cite title="Source Title">Unknown</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>

                    <div class="card">
                        <img src="~/Content/Images/exercise4.jpeg" alt="" class="card-img img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                Get The Body You've Always Wanted!
                            </h4>
                            <small class="text-muted">
                                Written by Sarah on 05/08
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi!
                            </p>
                        </div>
                    </div>
                    <div class="card p-3 text-right">
                        <blockquote class="card-block card-blockquote">
                            <p> The purpose of training is to tighten up the slack, toughen the body, and polish the spirit.</p>
                            <footer>
                                <small class="text-muted">
                                    Morihei Ueshiba in <cite title="Source Title">Unknown</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card">
                        <img src="~/Content/Images/exercise5.jpeg" alt="" class="card-img img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                Don't Forget Legs Day!
                            </h4>
                            <small class="text-muted">
                                Written by Frank on 03/05
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. ignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


