
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<header id="page-header">

    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Get Our Fitness Tips Below</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum aliquid, provident nam aliquam voluptatibus?</p>

            </div>
        </div>
    </div>
</header>

<!--Blog Section-->
<section id="blog" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    <div class="card">
                        <img src="http://lorempixel.com/500/500/city/1" alt="" class="card-img-top img-fluid">
                        <div class="card-block">
                            <h4 class="card-title">
                                Blog Post One
                            </h4>
                            <small class="text-muted">
                                Written by Jeff on 07/10
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>
                    <div class="card p-3">
                        <blockquote class="card-block card-blockquote">
                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci ab, pariatur nemo error repudiandae nisi.</p>
                            <footer>
                                <small class="text-muted">
                                    Someone Famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>

                    </div>

                    <div class="card">
                        <img src="http://lorempixel.com/500/500/city/2" alt="" class="card-img-top img-fluid">
                        <div class="card-block">
                            <h4 class="card-title">
                                Blog Post Two
                            </h4>
                            <small class="text-muted">
                                Written by Joe on 07/10
                            </small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur necessitatibus quis tempora ad dignissimos sequi, placeat voluptatum harum vero perspiciatis voluptatibus, molestiae consectetur!
                            </p>
                        </div>
                    </div>

                    <div class="card card-danger card-inverse p-3">
                        <blockquote class="card-block card-blockquote">
                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci ab, pariatur nemo error repudiandae nisi.</p>
                            <footer>
                                <small>
                                    Someone Famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>

                    <div class="card">
                        <img src="http://lorempixel.com/500/500/city/3" alt="" class="card-img img-fluid">
                    </div>
                    <div class="card p-3 text-right">
                        <blockquote class="card-block card-blockquote">
                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci ab, pariatur nemo error repudiandae nisi.</p>
                            <footer>
                                <small class="text-muted">
                                    Someone Famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


